@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: hsl(123, 40%, 42%);
    --text-color: hsl(215, 28%, 17%);
    --background-color: hsl(215, 85%, 92%);
}
/* Base Styles */
body {
  background-color: var(--background-color);
  padding: 0.5rem;
  margin: 0;
  line-height: 1.5;
  color: var(--text-color);
}

nav {
  background-color: hsl(123, 40%, 42%);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

nav a {
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-color);
  background-color: hsl(215, 85%, 92%);
}

.product-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;
}

.product-card {
  background-color: var(--background-color);
  border: 2px var(--primary-color) solid;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 150px;
}